matplotlib==3.8.2
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
plotly==5.19.0
pyarrow==15.0.2
rich==13.7.1
scikit-learn==1.4.2
seaborn==0.13.2
setuptools==68.2.0
torch==2.2.2
wheel==0.41.2
wordcloud==1.9.3
xgboost==2.0.3
